<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.inwms.domain.mapper.cj.CjMapper">
    <insert id="send" parameterType="com.wms.inwms.domain.mapper.cj.CJDeliveryDto">
        INSERT INTO V_RCPT_GIANTNET010(
            CUST_ID,
            RCPT_YMD,
            CUST_USE_NO,
            RCPT_DV,
            WORK_DV_CD,
            REQ_DV_CD,
            MPCK_KEY,
            MPCK_SEQ,
            CAL_DV_CD,
            FRT_DV_CD,
            CNTR_ITEM_CD,
            BOX_TYPE_CD,
            BOX_QTY,
            CUST_MGMT_DLCM_CD,
            SENDR_NM,
            SENDR_TEL_NO1,
            SENDR_TEL_NO2,
            SENDR_TEL_NO3,
            SENDR_ZIP_NO,
            SENDR_ADDR,
            SENDR_DETAIL_ADDR,
            RCVR_NM,
            RCVR_TEL_NO1,
            RCVR_TEL_NO2,
            RCVR_TEL_NO3,
            RCVR_ZIP_NO,
            RCVR_ADDR,
            RCVR_DETAIL_ADDR,
            INVC_NO,
            PRT_ST,
            GDS_NM,
            GDS_QTY,
            DLV_DV,
            RCPT_ERR_YN,
            EAI_PRGS_ST,
            REG_EMP_ID,
            REG_DTIME,
            MODI_EMP_ID,
            MODI_DTIME,
            REMARK_1,
            ORI_INVC_NO,
            ORI_ORD_NO
        ) VALUES (
            #{custId},
            #{rcptYmd},
            #{custUseNo},
            #{rcptDv},
            #{workDvCd},
            #{reqDvCd},
            #{mpckKey},
            #{mpckSeq},
            #{calDvCd},
            #{frtDvCd},
            #{cntrItemCd},
            #{boxTypeCd},
            #{boxQty},
            #{custMgmtDlcmCd},
            #{sendrNm},
            #{sendrTelNo1},
            #{sendrTelNo2},
            #{sendrTelNo3},
            #{sendrZipNo},
            #{sendrAddr},
            #{sendrDetailAddr},
            #{rcvrNm},
            #{rcvrTelNo1},
            #{rcvrTelNo2},
            #{rcvrTelNo3},
            #{rcvrZipNo},
            #{rcvrAddr},
            #{rcvrDetailAddr},
            #{invcNo,jdbcType=VARCHAR},
            #{prtSt},
            #{gdsNm},
            #{gdsQty},
            #{dlvDv},
            #{rcptErrYn},
            #{eaiPrgsSt},
            #{regEmpId},
            #{regDtime},
            #{modiEmpId},
            #{modiDtime},
            #{remark1},
            #{oriInvcNo, jdbcType=VARCHAR},
            #{oriOrdNo, jdbcType=VARCHAR}
        )
    </insert>
</mapper>